# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/

# Pytest
.pytest_cache/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Test reports
allure-results/
allure-report/